<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>400</error-code>
        <location>/forumJSP/PaginaErrore.jsp</location>
    </error-page>
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>filter_package.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller_package.ControllerWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControllerGruppi</servlet-name>
        <servlet-class>controller_package.ControllerGruppi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGruppoDB</servlet-name>
        <servlet-class>controller_package.EditGruppoDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditGruppoDB</servlet-name>
        <url-pattern>/EditGruppoDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLoadTable</servlet-name>
        <servlet-class>servlet_package.ServletLoadTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLoadTable</servlet-name>
        <url-pattern>/ServletLoadTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>servlet_package.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCambioPassword</servlet-name>
        <servlet-class>servlet_package.ServletCambioPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCambioPassword</servlet-name>
        <url-pattern>/ServletCambioPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFileServe</servlet-name>
        <servlet-class>servlet_package.ServletFileServe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFileServe</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChiudiGruppo</servlet-name>
        <servlet-class>servlet_package.ServletChiudiGruppo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChiudiGruppo</servlet-name>
        <url-pattern>/ServletChiudiGruppo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUpload</servlet-name>
        <servlet-class>servlet_package.ServletUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUpload</servlet-name>
        <url-pattern>/ServletUpload</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletPDF</servlet-name>
        <servlet-class>servlet_package.ServletPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPDF</servlet-name>
        <url-pattern>/ServletPDF</url-pattern>
    </servlet-mapping>
    <servlet>
        
        <servlet-name>ServletSendMail</servlet-name>
        <servlet-class>servlet_package.ServletSendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSendMail</servlet-name>
        <url-pattern>/ServletSendMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
