<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller_package.ControllerWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControllerGruppi</servlet-name>
        <servlet-class>controller_package.ControllerGruppi</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EditGruppoDB</servlet-name>
        <servlet-class>controller_package.EditGruppoDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditGruppoDB</servlet-name>
        <url-pattern>/EditGruppoDB</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>servlet_package.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>servletFileServe</servlet-name>
        <servlet-class>servlet_package.ServletFileServe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletFileServe</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    
</web-app>
