body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #eee;
  background-image: url(../forumIMG/22-sfondo-multicolori.jpg);
   overflow: hidden;
}

.badge{
  color: 428bca;
  background-color: #b3d0e9;
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default{
 background-color: #b3d0e9;
}

.btnmio{
 width: 200px;
}
.noborder{
    border: none;
}

.btn-right{
    text-align:right;
}
.padding-bottom {
    padding-bottom: 20px;
}
.centraverticale {
margin-top: 10%;
}
.colore-caselle {
  background-color: #b3d0e9;
}
.contenitore-azzurro {
    border-radius: 20px;
    background-color: #b3d0e9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.white-back :hover {
    background-color: white;
}
.centra {
    text-align:center;
}
.centra-utente {
    text-align: center;
    font-size: 150%;
}
.inlinea {
    display: inline-block;
}
.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.div_testo {
    height: 245px;
    padding-left: 20px;
}


.margine-top {
    margin-top: 20px;
}
.div-inviti {
    margin-top: 15%;
}
.larghezza-inviti {
    width: 100%;
}
.table-cell-left {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.centra-tabella {
    margin-right: 10%;
    margin-top: 10%;
}
.titolo-inviti {
    text-align: center;
    font-size: 150%;
}
