body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../forumIMG/montagna_con_neve_alpinista.jpg);
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.titolo {
  margin: 0 auto; 
  margin-bottom: 20px;
  text-align: center;
}
.margine-top-alto {
    margin-top: 40px;
}
